@using Controls.Navigation
@using Controls.Sidebars
@using Controls.Images
@using System.Text.RegularExpressions

<Sidebar>
    <SidebarHeader>
        <SidebarIcon><MMCube></MMCube></SidebarIcon>
        <h1><b>Component Library</b></h1>
    </SidebarHeader>
    <SidebarList>
        <NavHeader Text="Data">
            @RenderNavItem("Tables")
            @RenderNavItem("Lists")
            @RenderNavItem("Filters")
            @RenderNavItem("Pagination")
            @RenderNavItem("Selection")
            @RenderNavItem("Sorting")
        </NavHeader>
        <NavHeader Text="Inputs">
            @RenderNavItem("Buttons")
            @RenderNavItem("Check Boxes")
            @RenderNavItem("Clipboard")
            @RenderNavItem("Color Pickers")
            @RenderNavItem("Date Pickers")
            @RenderNavItem("Draggables")
            @RenderNavItem("Dropdowns")
            @RenderNavItem("File Drops")
            @RenderNavItem("Text")
            @RenderNavItem("Sliders")
            @RenderNavItem("Text Editors")
        </NavHeader>
        <NavHeader Text="Layout">
            @RenderNavItem("Grids")
            @RenderNavItem("Overlays")
            @RenderNavItem("Sidebars")
            @RenderNavItem("Tabs")
        </NavHeader>
        <NavHeader Text="Media">
            @RenderNavItem("Audio")
            @RenderNavItem("Images")
            @RenderNavItem("Videos")
        </NavHeader>
        <NavHeader Text="UI">
            @RenderNavItem("Alerts")
            @RenderNavItem("Badges")
            @RenderNavItem("Calendars")
            @RenderNavItem("Chips")
            @RenderNavItem("Code")
            @RenderNavItem("Collapsibles")
            @RenderNavItem("Icons")
            @RenderNavItem("Modals")
            @RenderNavItem("Progress Bars")
            @RenderNavItem("Ratings")
            @RenderNavItem("Scroll Bars")
            @RenderNavItem("Snack Bars")
        </NavHeader>
        <NavHeader Text="Visual">
            @RenderNavItem("Animations")
            @RenderNavItem("Spinners")
        </NavHeader>
    </SidebarList>
</Sidebar>

@code{
    private static readonly Regex sWhitespace = new Regex(@"\s+");

    private RenderFragment<string> RenderNavItem = name => __builder =>
    {
        var link = sWhitespace.Replace(name, "");
        <NavItem Class="navitem-selected" ActiveClass="color-default" Link=@link>@name</NavItem>
    };
}