@using Controls.Badges
@using Controls.Buttons
@using Controls.Code
@using Controls.Css
@using Controls.Lists
@using Controls.Selection
@using Controls.Tabs
@using System.Drawing
@using WebassemblyExample.Client.Pages.ButtonsData
@using WebassemblyExample.Client.Pages.TabsData
@using static Controls.Colors.ColorExtensions

@page "/buttons"

<div class="inner-container container">
    <div class="inner-header header">
        <div class="inner-header-left header-left">
            <h1>Buttons</h1>
            <small>Important for clicking things</small>
        </div>
        <div class="header-right">
            <small>By Matthew Ormson, 01/16/2022, 3 minutes to read</small>
        </div>
    </div>

    <div class="inner-content content">
        <div class="card">
            <h2>Basic Buttons</h2>

            <p>Badges can be rectangular, square or circle.</p>

            @*<TabContainer TabType="TabType.Line">
                @ShapeTab((true, BadgeType.Rectangle))
                @ShapeTab((false, BadgeType.Square))
                @ShapeTab((false, BadgeType.Circle))
            </TabContainer>*@
        </div>

        <div class="card">
            <h2>Custom Styling</h2>

            <p>Badge color can be specified through a <CodeBlock Mode="CodeBlock.ColorMode.Dark" Inline=true><span class="hljs-title">CssStyle</span></CodeBlock> Struct.</p>

            @*<TabContainer TabType="TabType.Line">
                @ColorTab((true, Color.White, Color.Black))
                @ColorTab((false, Color.Black, Color.White))
                @ColorTab((false, Color.Red, Color.White))
                @ColorTab((false, Color.Orange, Color.White))
                @ColorTab((false, Color.Yellow, Color.Black))
                @ColorTab((false, Color.Green, Color.White))
                @ColorTab((false, Color.Blue, Color.White))
                @ColorTab((false, Color.Purple, Color.White))
            </TabContainer>*@
        </div>

        <div class="card">
            <h2>Selection Buttons</h2>
        </div>

        <div class="card">
            <h2>Icons</h2>
        </div>

        <div class="card">
            <h2>Animations</h2>
        </div>

        <div class="card">
            <h2>Custom Content</h2>
        </div>
    </div>
</div>

@code {
    private static readonly Styles defaultBadgeStyle = new(new Style("background-color", Color.FromArgb(94, 164, 228).ToRGBStyle())),
        redBadgeStyle = new(new Style("background-color", Color.Red.ToRGBStyle()), new Style("width", "8px"), new Style("height", "8px"));


    private RenderFragment<(bool, BadgePosition)> PositionTab = content => __builder =>
    {
        string positionName = Enum.GetName(typeof(BadgePosition), content.Item2);
        <DefaultLineTab IsDefault=content.Item1>
            <Content>
                <DefaultBasicButton>Test<Badge Style=redBadgeStyle BadgeTypeValue=BadgeType.Circle Position=content.Item2>1</Badge></DefaultBasicButton>
                
            </Content>
            <ChildContent>
                <CodeBlock Mode="CodeBlock.ColorMode.Dark">
<span class="hljs-tag">&lt;<span class="hljs-name">Badge</span> <span class="hljs-attr">Position</span>=<span class="hljs-string">BadgePosition.@positionName</span>&gt;</span>test<span class="hljs-tag">&lt;/<span class="hljs-name">Badge</span>&gt;</span>
                </CodeBlock>
            </ChildContent>
        </DefaultLineTab>
    };
}
